/* Style buttons */
/*.btn {
  background-color: DodgerBlue;  Blue background
  border: none; Remove borders
  color: white; /* White text
  padding: 0px 6px; /* Some padding
  font-size: 16px; /* Set a font size
  cursor: pointer; /* Mouse pointer on hover
}*/

/* Darker background on mouse-over */
/*  background-color: RoyalBlue;
}

#action{
  width:1%;
  white-space:nowrap;
}*/
